export(auto_ml_analysis)
importFrom(graphics, abline, legend, par, title)
importFrom(grDevices, dev.off, pdf)
importFrom(stats, coef, filter, na.omit, p.adjust, predict, reorder, sd, setNames, wilcox.test)
importFrom(utils, head, write.csv, write.table)
